extends javascript

# Hooks
snippet uses useState
	const [${1:state}, set${1/(.*)/${1:/capitalize}/}] = useState(${2:initialState});

# Component templates
snippet component Create a react component
	export default function ${1:Component}($2) {
		return (
			$0
		)
	}

snippet funcomponent Create a react functional component
	const ${1:Component} = ($2) => {
		return (
			$0
		)
	}

	export default $1
