[alias]
    # Get the current branch name (not so useful in itself, but used in
    # other aliases)
    branch-name = !git rev-parse --abbrev-ref HEAD

    # Push the current branch to the remote "origin", and set it to track
    # the upstream branch
    publish = !git push -u origin $(git branch-name)
    force-publish = !git push -u -f origin $(git branch-name)

    # Create new branch
    new-branch = "!f() { git checkout -b $1; }; f" # Create a new branch

    aa = add -A # add all files
    amend = commit --amend --no-edit # amend to the last commit
    aamend = !git aa && git amend # add all files and amend
    br = branch # show branch name
    wip = !git add -A && git commit -m 'WIP' # create a WIP commit
    brd = !git branch --merged | grep -v master |  xargs git branch -d # delete merged branches
    align = !git fetch --all && git pull origin $(git branch-name) # fetch remotes and update the current branch
    nah = !git reset --hard && git clean -df
